@import "../../../styles/colors.scss";

.table {
  box-shadow: var(--box-shadow-primary);
  font-size: 16px;
  min-height: 590px;

  div,
  th,
  td,
  svg {
    color: var(--text-primary) !important;
    background-color: var(--background-secondary) !important;
    border-color: var(--border-primary) !important;
  }

  & div > :nth-child(3) {
    margin-top: auto;
  }

  & > div {
   display: flex;
   flex-direction: column;
  }
}

@media (max-width: 1350px) {
  .table {
    font-size: 10px;
  }
}

.skeleton {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  & > * {
    background-color: $grey-light !important;
  }
}
