@import "../../../styles/colors.scss";

.settings {
  display: flex;
  flex-direction: column;
  row-gap: 100px;

  & > button {
    box-shadow: none !important;
    align-self: flex-start;
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    button {
      max-width: 130px;
      margin-top: 40px;
      background-color: rgb(2, 191, 46);
      color: $white;
      font-weight: 600;
      border-radius: 6px;
      font-size: 1em;
      padding: 13px 23px;
      cursor: pointer;
      text-align: center;
    }
  }
}
