@import "../../../styles/colors.scss";

.label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 1.1em;
    font-weight: 500;
}

.input {
  padding: 12px 8px;
  border-radius: 7px;
  width: 100%;
  font-size: 0.90em;

  &:focus {
    outline: none;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover, 
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
  }

  &::placeholder {
    color: rgb(199, 199, 199);
  }
}

.error {
    height: 25px;
    color: $error;
    font-size: 0.8em;
    margin: 3px 0px 0px 0px;
}
