@import "./reset.scss";
@import "./colors.scss";

/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

// html {
//     transition: all 2.2s linear;
// }

html,
body,
#root,
.App {
  min-height: 100vh;
}

#root {
  font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-size: 16px;

  a:visited {
    color: inherit;
  }
}

.App {
  display: flex;
  align-items: stretch;
}

.loader {
  padding-top: 80px;
}

/* MEDIA */
@media (max-width: 1300px) {
  #root {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  #root {
    font-size: 13px;
  }
}
