$backgroundColor: #f3f2f7;
$borderColor: rgba(100, 100, 111, 0.2);
$boxShadowPrimary: 0px 1px 17px 2px rgba(62, 69, 73, 0.132);

$optionalText: rgba(163, 163, 163, 1);
$primaryText: rgb(25, 25, 25);

$transparencyOrSuccess: rgba(0, 176, 116, 0.15);
$success: rgba(0, 176, 116, 1);

$grey: #f6f6f6;
$white: #ffffff;
