$black: #0c0c0c;
$black-coal: #212124;
$black-light: rgb(29, 29, 29);

$box-shadow-dark: 0px 1px 17px 2px rgba(62, 69, 73, 0.132);
$box-shadow-light: 0px 1px 17px 2px rgba(79, 77, 77, 0.132);

$grey: #f6f6f6;
$grey-cloud: rgba(163, 163, 163, 1);
$grey-light: #dee2e6;
$grey-dark: #2c2c2c;

$error: rgb(226, 47, 47);

$success: rgba(0, 176, 116, 1);
$transparencyOrSuccess: rgba(0, 176, 116, 0.15);

$white: #ffffff;
$white-snow: #f3f2f7;
$white-dark: #e2e2e2;

//!
// $borderColor: rgba(100, 100, 111, 0.2);

html[data-theme="light"] {
  --background: #{$white-snow};
  --background-secondary: #{$white};
  --text-primary: #{$black-coal};
  --text-secondary: #{$grey-cloud};
  --box-shadow-primary: #{$box-shadow-dark};
  --border-primary: #{$grey-light};
}

html[data-theme="dark"] {
  --background: #{$black-coal};
  --background-secondary: #{$black-light};
  --text-primary: #{$white-dark};
  --text-secondary: #{$grey-cloud};
  --box-shadow-primary: #{$box-shadow-light};
  --border-primary: #{$grey-dark};
}
