@import "../../../styles/colors.scss";

.table {
  box-shadow: var(--box-shadow-primary);
  max-width: 80rem;

  div,
  th,
  td,
  svg {
    color: var(--text-primary) !important;
    background-color: var(--background-secondary) !important;
    border-color: var(--border-primary) !important;
  }
}
