@import "../../../styles/colors.scss";

$color-hover: var(--background-secondary);

.header {
  font-size: 1em;
  font-weight: 400;
  padding: 40px 0px;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 30px;
  width: fit-content;
  margin-left: auto;

  &__username {
    span {
      font-weight: 600;
    }
  }

  &__img {
    cursor: pointer;
    user-select: none;
    img {
      border-radius: 50%;
      width: 62px;
      height: 62px;
      object-fit: cover;
    }
  }
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 10px;
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 10px 0px;
  z-index: 2;

  box-shadow: var(--box-shadow-primary);

  &::before {
    content: "";
    border: solid transparent;
    position: absolute;
    bottom: 100%;
    right: 10px;
    border-bottom-color: var(--background-secondary);
    border-width: 9px;
    margin-right: -1px;
  }

  li {
    cursor: pointer;
    padding: 17px 70px 17px 20px;
    transition: 0.2s ease;
    display: flex;
    align-items: center;

    &:nth-child(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    &:hover {
      background-color: $success;
    }

    i {
      margin-right: 12px;
      margin-top: 2px;
    }
  }
}

.visible {
  display: flex;
}

@media (max-width: 800px) {
    .profile{
        column-gap: 15px;
        &__username {
            display: none;
        }
    }
  }