@import "../../../styles/colors.scss";

.navigation {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  //   border-top: 1px solid rgba(0, 0, 0, 0.1);
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //   padding: 40px 0px;
  margin: 80px 0px;
  //   box-shadow: $boxShadowPrimary;
}

.link {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    width: 5px;
    height: 40px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &__box {
    transition: 0.1s;
    // background-color: $white;
    border-radius: 7px;
    max-width: 250px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0px auto;
    padding: 15px 10px;

    i {
      margin-right: 15px;
    }

    &::before {
      content: "";
      width: 20px;
    }
  }
}

.active {
  span {
    background-color: $success;
  }

  .link {
    &__box {
      background-color: $transparencyOrSuccess;
      font-weight: 700;
      color: $success;
    }
  }
}
