@import "../../../styles/colors.scss";

.wrapper {
  height: 100vh;
  width: 100vw;
  padding: 5vh 15px;
  background: var(--background-neu);
}

.container {
  margin: 0px auto;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  justify-content: center;
  background: var(--background-neu);
  box-shadow:  var(--box-shadow-neu);
  border-radius: 30px;

  padding: 30px 55px;

  h2 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__error {
    height: 25px;
    color: $error;
    font-size: 1em;
    margin: 5px 0px 10px 0px;
  }

  &__btn {
    position: relative;
    font-size: 1.3em;
    padding: 12px 10px;
    background-color: rgba($success, 0.7);
    transition: all 0.3s;
    width: 100%;
    max-width: 200px;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: center;
    cursor: pointer;
    color: $white;
    min-height: 48.21px;

    &:hover {
      background-color: rgba($success, 0.9);
    }

    &:disabled {
      background-color: var(--text-secondary);
    }
  }
}
