// $height: 30.6px !default;
// // $width: 54px;
// $switch-width: 23.4px !default;

:root {
  --input-switch-height: 30.6px;
  --input-switch-width: 54px;
  --input-switch-size: 23.4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: var(--input-switch-width);
  max-width: var(--input-switch-width);
  height: var(--input-switch-height);
  max-height: var(--input-switch-height);

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #2196f3;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked + .slider::before {
      -webkit-transform: translateX(var(--input-switch-size));
      -ms-transform: translateX(var(--input-switch-size));
      transform: translateX(var(--input-switch-size));
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &::before {
    position: absolute;
    content: "";
    height: var(--input-switch-size);
    width: var(--input-switch-size);
    left: 3.6px;
    bottom: 3.6px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
  }
}

.round {
  border-radius: var(--input-switch-height);

  &::before {
    border-radius: 50%;
  }
}

@media (max-width: 1300px) {
  :root {
    --input-switch-width: 48px;
    --input-switch-height: 26px;
    --input-switch-size: 19px;
  }
}

@media (max-width: 700px) {
  :root {
    --input-switch-width: 45px;
    --input-switch-height: 24px;
    --input-switch-size: 17px;
  }
}
