@import "../../../styles/colors.scss";

.dashboard {
  &__cards {
    display: flex;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  &__greeting {
    font-weight: 500;
    font-size: 1.125em;
    color: var(--text-secondary);
    margin-bottom: 100px;
  }
}

.table-title {
  font-size: 1.18em;
  font-weight: 500;
  margin-bottom: 21px;
}

@media (max-width: 1500px) {
  .dashboard {
    &__greeting,
    &__cards {
      margin-bottom: 80px;
    }
  }
}

@media (max-width: 950px) {
    .dashboard {
      &__cards {
        max-width: 600px;
      }
    }
  }

  @media (max-width: 420px) {
    .dashboard {
      &__cards {
        column-gap: 15px;
        row-gap: 10px;
      }
    }
  }